/* アスペクト比のモジュール */
.c-aspect-ratio {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  overflow: hidden;
}
.c-aspect-ratio:before {
  content: '';
  display: block;
}
/* 4:3 */
.c-aspect-ratio__4-3:before {
  padding-top: 75%;
}
/* 16:9 */
.c-aspect-ratio__16-9:before {
  padding-top: 56.25%;
}
/* 8:5 ≒ 黄金比 */
.c-aspect-ratio__8-5:before {
  padding-top: 62.5%;
}
/* 7_5 ≒ 白銀比 */
.c-aspect-ratio__7-5:before {
  padding-top: 70%;
}
.c-aspect-ratio__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 中央寄せ */
.c-aspect-ratio__table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.c-aspect-ratio__table > * {
  display: table-cell;
  vertical-align: middle;
}
