html {
  background-color: $key-color-black;
  height: 100%;
}
.body-controller {
  background-color: $key-color-black;
  color: $key-color;
  height: 100%;
  font-family: 'Source Code Pro',Verdana,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif, ;
}
.main {
  @include container;
  padding: 10px;
}
.main__heading-wrap {
  @include container;
}
.main__heading {
  @include span(11 of 12);
  margin: 10px 0;
}
.main__heading-action {
  @include span(1 of 12);
  margin: 10px 0;
  text-align: right;
}
.c-heading {
  background-color: $key-color;
  color: $key-color-black;
  font-size: 14px;
  padding-left: 4px;
  height: 20px;
}
