.resources-and-tags {
  @include container;
}
.resources {
  @include span(8 of 12);
  height: 300px;
}
.resources__text {
  padding: 10px 5px;
  @include container;
}
.resources__text-preview {
  @include span(6 of 12);
}
.resources__text-preview-text {
  font-size: 1.4em;
}
.resources__text-controll {
  @include span(6 of 12);
}
.resources__text-input-text,
.resources__text-input-range {
  margin-bottom: 10px;
}
.resources__text-input-range__label {
  display: block;
  font-size: 13px;
  margin: 20px 0 5px 0;
}
.resources__items-wrap {
  width: 100%;
  height: 280px;
  overflow-y: scroll;
  position: relative;
}
.resources__items {
  @include container;
}
.resources__item {
  @include span(3 of 12 no-gutters);
  height: 90px;
  float: left;
  overflow: hidden;
  position: relative;
}
.resources__item-button {
  display: block;
  width: 50%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  background-color: $key-color-black;
  color: $key-color;
  opacity: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
  &.resources__item-button--a {
    left: 0;
  }
  &.resources__item-button--b {
    left: 50%;
  }
  &:hover {
    opacity: 0.8;
  }
}
.resources__item-button-inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -14px;
  margin-left: -10px;
}
.resources__item-image {
  display: block;
  width: 100%;
}
.resources__description {
  font-size: 13px;
  padding: 15px 10px 10px 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resources__item-tags {
  visibility: hidden;
}

.resources__comment {
  padding: 10px;
}

.resources__comment-form {
  display: flex;
  margin-bottom: 10px;
}

.resources__comment-textfield {
  flex-grow: 1;
  padding-right: 10px;
}

.resources__comment-stream {
  tr {
    cursor: pointer;
  }
  th {
    vertical-align: top;
    text-align: right;
    padding: 4px;
  }
  td {
    color: #ffffff;
    vertical-align: top;
    text-align: left;
    padding: 4px;
  }
}
