.login {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.login__inner {
  width: 400px;
  margin: 0 auto;
}

.login__logo {
  width: 200px;
  margin-bottom: 10px;
}

.login__textarea {
  margin-bottom: 10px;
}
