html {
  background-color: $key-color-black;
  height: 100%;
}
.body-controller {
  background-color: $key-color-black;
  color: $key-color;
  height: 100%;
  font-family: 'Source Code Pro',Verdana,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif, ;
}
.main {
  width: 1050px;
  padding: 20px;
  box-sizing: border-box;
}
.main__heading {
  margin-bottom: 10px;
}
.c-heading {
  background-color: $key-color;
  color: $key-color-black;
  font-size: 14px;
  padding-left: 4px;
  height: 20px;
}
