.monitor {
  @include container;
}
.monitor__item {
  @include span(4 of 12);
}
.channel-a__image-wrap,
.channel-b__image-wrap {
  overflow: hidden;
}
.master__image-wrap {
  position: relative;
  overflow: hidden;
}
.master__image-wrap--a,
.master__image-wrap--b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.channel-a__image,
.channel-b__image,
.master__image--a,
.master__image--b
 {
  display: block;
  width: 100%;
  max-width: 100%;
}
.master__image--b {
  opacity: 0;
}
.master__black,
.master__white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.master__black {
  background-color: black;
}
.master__white {
  background-color: white;
}
.channel__control {
  height: 90px;
  padding: 10px 0;
  box-sizing: border-box;
}
.channel__tags {
  width: 100%;
  height: 30px;
  overflow-y: scroll;
}
.channel__tags::-webkit-scrollbar {
  all:unset;
  width: 12px;
  background: transparent;
}
.channel__tags::-webkit-scrollbar-track {
  all:unset;
  background: transparent;
}
.channel__tags::-webkit-scrollbar-thumb {
  all:unset;
  background: transparent;
  background-color: $key-color-grey;
}
.channel__tags::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background-color: $key-color-grey;
}
.channel__tag {
  box-sizing: border-box;
  height: 14px;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: white;
  font-size: 10px;
  font-weight: 700;
  background-color: $key-color-grey;
  border: 0;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0 6px;
  margin-right: 6px;
  &:active {
    outline: 0;
  }
}
.fader {
  margin-top: 10px;
  width: 100%;
}
.fader__ab-range {
  margin-bottom: 10px;
}
