.body-video {
  background-color: black;
  height: 100%;
  font-family: 'Source Code Pro',Verdana,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif, ;
  overflow-x:hidden;
  overflow-y:hidden;
}
.video {
  width: 100%;
  height: 100%;
  position: relative;
}
.video__channel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video__channel-image {
  width: 100%;
}
.video__channel-white,
.video__channel-black {
  width: 100%;
  height: 100%;
}
.video__channel-white {
  background-color: #fff;
}
.video__channel-white {
  background-color: #000;
}
